*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .maintitle{
    font-size: 35px;
    font-weight: 900;
    margin-top: 40px;
 }

 .subtitle{
    color: grey;
    font-size: 30px;
    margin-bottom: 40px;
 }

.banner{
    background-color: lightskyblue;
    height: 200px;
    background-image: url(../img/pattern.png);
}

.logo{
    height: 300px;
    width: 300px;
    padding-top: 7%;
}